@charset "UTF-8";
/* Color */
/* Fonts */
body {
  font-family: "Roboto", sans-serif;
}

.header_logo .explore_title {
  font-family: "Shrikhand", cursive;
}

/* Eléments principaux de la page */
a {
  color: inherit;
  text-decoration: none;
}

/* Header */
.header_logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 100%;
}

/* Search */
.search_text {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #000000;
  border-left: none;
  border-right: none;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  background-color: #e9e9e9;
}

.location_icon {
  position: relative;
  top: 28px;
  left: 140px;
}

/* Explore */
.explore {
  background-color: #e7e6e62e;
}

.explore_title {
  text-align: center;
}

.explore_btn {
  display: block;
  margin: auto;
  border-radius: 1.5rem 1.5rem;
  border: 0px;
  height: 2.5rem;
  width: 12rem;
  background: -webkit-gradient(linear, right top, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to left, #9356DC, #FF79DA);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.explore_btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.text_btn {
  color: white;
}

/* Fonctionnement */
.contenair {
  margin: 1rem;
  margin-top: 5rem;
}

.fonctionnement_title {
  font-family: "Shrikhand", cursive;
}

.fonctionnement_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  -webkit-box-shadow: 0 0 16px #0000002e;
          box-shadow: 0 0 16px #0000002e;
  height: 4rem;
  margin: 0.5rem;
  margin-top: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fonctionnement_box:hover {
  background-color: #e2e2e2;
}

.fonctionnement_text {
  font-weight: bold;
  margin: 0 3rem;
}

.fonctionnement_icon {
  color: gray;
  margin: 0 1rem;
}

.circle {
  position: relative;
  left: -12px;
  width: 30px;
  background: #9356DC;
  color: white;
  line-height: 2px;
  height: 30px;
  text-align: center;
  border-radius: 100px;
}

/* Restaurants */
.restaurants {
  padding-top: 5rem;
}

.restaurants_title {
  font-family: "Shrikhand", cursive;
  margin: 1rem;
}

.restaurants_content {
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  height: 330px;
}

.restaurants_content:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.restaurants_img {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 250px;
}

.restaurants_fig img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 235px;
  -o-object-position: 40% 60%;
     object-position: 40% 60%;
}

.new_text {
  position: absolute;
  left: 380px;
  color: #175e2e;
  background-color: #99E2D0;
  padding: 7px;
  border-radius: 0.2rem 0.2rem;
  font-weight: bold;
}

.card_title {
  margin: 1.2rem;
}

.card_desc {
  position: relative;
  top: -1rem;
  margin: 1.2rem;
  line-height: 0;
}

.card_heart {
  position: relative;
  top: -4.5rem;
  left: 25rem;
  background-color: white;
}

.heart_icon {
  font-size: 1.5em;
}

.heart_icon2 {
  position: absolute;
  left: 0rem;
  font-size: 1.5em;
  opacity: 0;
}

.heart_icon2:hover {
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  color: #9356DC;
  opacity: 1;
}

/* Footer */
.footer {
  background-color: #2b2b2b;
  width: 100%;
  height: 15rem;
  color: white;
}

.footer_bloc {
  margin-top: 5rem;
}

.link {
  margin: 1rem;
}

.footer_link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

.footer_img {
  width: auto;
  height: 1.2rem;
  margin-top: 20px;
  margin-left: 15px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/* Menu */
.arrow {
  margin: 1rem;
  position: relative;
  top: 26px;
}

.card_img {
  padding-top: 1rem;
  height: 18rem;
  width: 100%;
}

.menu_contenair {
  background-color: white;
  border-radius: 1rem 1rem 0 0;
  position: relative;
  top: -5rem;
}

.menu_title {
  font-family: "Shrikhand", cursive;
  margin: 1rem;
  padding-top: 2rem;
}

.menu_heart {
  position: absolute;
  top: 40px;
  left: 420px;
  font-size: 1.5em;
}

.heart_icon3 {
  position: absolute;
  top: 2px;
  right: 0px;
  opacity: 0;
}

.heart_icon3:hover {
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  color: #9356DC;
}

.title_desc {
  border-bottom: 3px solid #99E2D0;
  width: 10%;
  margin: 1rem;
}

.menu_content {
  background-color: #fcfcfc;
  border-radius: 1rem 1rem 0 0;
}

.menu_desc1, .menu_desc2, .menu_desc3, .menu_desc4 {
  background-color: white;
  -webkit-box-shadow: 0 0 16px #0000002e;
          box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem 1rem 1rem 1rem;
  height: 4rem;
  margin: 1rem;
  line-height: 1rem;
}

.menu_desc1, .menu_desc2, .menu_desc3:hover {
  cursor: pointer;
}

.desc_title, .desc_content {
  margin: 0.5rem;
  padding-top: 0.5rem;
}

.price {
  float: right;
}

.btn_menu {
  margin-top: 3rem;
}

/* Loading page d'accueil */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-animation: hideLoader 0s ease-in 10s forwards;
  animation: hideLoader 0s ease-in 3s forwards;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@-webkit-keyframes hideLoader {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

@keyframes hideLoader {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

/* Animations chargement des menus */
.title_desc, .menu_desc1, .menu_desc2, .menu_desc3, .menu_desc4 .desc_title, .desc_content, .price {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animations des menus au survol */
.anim_background {
  background: #99E2D0;
  position: absolute;
  top: 120px;
  left: 382px;
  height: 6.6%;
  width: 15%;
  border-radius: 0 1rem 1rem 0;
  display: none;
}

.menu_desc1:hover .anim_background {
  display: block;
  -webkit-animation: translate-x 4s linear;
          animation: translate-x 4s linear;
}

.anim_menu {
  color: #ffffff;
  position: relative;
  top: 16px;
  left: 0;
  opacity: 0;
}

.menu_desc1:hover .anim_menu {
  opacity: 1;
  -webkit-animation: rotate-center 0.6s linear both;
          animation: rotate-center 0.6s linear both;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes rotate-center {
  from {
    z-index: 1;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    z-index: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  from {
    z-index: 1;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    z-index: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes translate-x {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes translate-x {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

/* Animations des 3 points */
/* Media queries */
@media screen and (min-width: 768px) {
  .main {
    max-width: 100%;
  }
  .fonctionnement_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenair_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurants_box {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1em;
  }
  .restaurants_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2rem;
  }
  .new_text {
    opacity: 0;
  }
  .menu_content {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .menu_img {
    width: 40%;
    height: auto;
    position: relative;
    left: 550px;
  }
  .btn_menu {
    position: relative;
    top: 850px;
    right: 650px;
  }
  .menu_title {
    position: relative;
    top: -180px;
    left: 100px;
  }
  .menu_heart {
    position: absolute;
    top: -130px;
  }
}
/*# sourceMappingURL=style.css.map */